@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:700,900i");
body {
  background-color: #000;
  font-family: "Open Sans";
  color: #FFF;
  padding-top: 8.5rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.9375rem 0;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  height: 8.5rem;
}

header .item {
  width: 33.33333%;
}

@media (max-width: 599px) {
  header .item {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

header img {
  max-width: 100%;
  width: 18.75rem;
  margin: 0 auto;
  display: block;
}

@media (max-width: 599px) {
  header img {
    width: auto;
    height: 4.375rem;
  }
}

header .item-a {
  width: 33.33333%;
}

@media (max-width: 599px) {
  header .item-a {
    width: auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

header .item-a a {
  color: rgba(255, 255, 255, 0.85);
  display: table;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.625rem 1.25rem;
  letter-spacing: .025em;
  line-height: 1;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

header .item-a a:not(.effect-duplicate) {
  opacity: 0;
  position: relative;
  z-index: 1;
}

header .item-a a:not(.effect-duplicate):hover {
  opacity: 1;
}

header .item-a a:not(.effect-duplicate):hover + a {
  opacity: 0;
}

header .item-a a.effect-duplicate {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: filter;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

header .item-a:last-child a {
  margin-left: auto;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18.75rem);
  grid-auto-columns: 18.75rem;
  grid-gap: 0.9375rem;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 0.9375rem;
}

.card {
  cursor: pointer;
  border-radius: 0.75rem;
  border: 2px solid #FFF;
  padding-bottom: 150%;
  position: relative;
  background-image: url(./images/bgCard.jpg);
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: left center;
  margin: 0;
  -webkit-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  -webkit-transition: all 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-animation: bgAnimate 75000s infinite;
  animation: bgAnimate 75000s infinite;
}

.card .number {
  height: 2.375rem;
  width: 2.375rem;
  position: absolute;
  z-index: 1;
  right: -0.3125rem;
  top: -0.3125rem;
  background-color: #000;
  border-radius: 50%;
  line-height: 1;
  border: 2px solid #00c6ff;
  font-family: "Rubik";
  font-weight: bold;
  padding: 0.5625rem 0;
  text-align: center;
}

.card .number i {
  display: block;
  letter-spacing: -1px;
  margin-left: -0.125rem;
  font-size: 1.0625rem;
}

.card .title {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 1;
  display: block;
  margin-top: 0.75rem;
}

.card .text {
  font-size: 0.75rem;
  line-height: 1.4;
  display: block;
  margin-top: 0.3125rem;
}

.card .text b {
  margin-bottom: 0.1875rem;
  display: block;
}

.card .bg {
  overflow: hidden;
  padding-bottom: 120%;
  height: 0;
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid #000;
}

.card .bg .tilt {
  width: 120%;
  height: 120%;
  position: absolute;
  left: -10%;
  top: -10%;
  overflow: hidden;
  margin: 0 auto;
}

.card .bg .tilt__front {
  position: absolute;
  top: 0;
  left: 0;
}

.card .bg .tilt__back {
  position: relative;
}

.card .bg .tilt__back, .card .bg .tilt__front {
  -webkit-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card:hover .bg .tilt__back, .card:hover .bg .tilt__front {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.card .inset {
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
}

@-webkit-keyframes bgAnimate {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 1000000% center;
  }
}

@keyframes bgAnimate {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 1000000% center;
  }
}
